interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_geuewla5ljlqjmcqyh7gi4iveu7376rhqygpdabuxhk2gj7/providers/Microsoft.NetApp/netAppAccounts/cli-acc-justqiwxghqojoj2/capacityPools/cli-pool-6ewqyazpov3tfja/volumes/cli-vol-azx6oe6htksoqhhq?api-version=2020-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_geuewla5ljlqjmcqyh7gi4iveu7376rhqygpdabuxhk2gj7/providers/Microsoft.NetApp/netAppAccounts/cli-acc-justqiwxghqojoj2/capacityPools/cli-pool-6ewqyazpov3tfja/volumes/cli-vol-azx6oe6htksoqhhq","name":"cli-acc-justqiwxghqojoj2/cli-pool-6ewqyazpov3tfja/cli-vol-azx6oe6htksoqhhq","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2021-02-26T13%3A28%3A07.9020909Z''\"","location":"eastus2euap","properties":{"mountTargets":[{"mountTargetId":"225aad0c-346e-b9ea-78f4-ef3ec3112e63","fileSystemId":"225aad0c-346e-b9ea-78f4-ef3ec3112e63","ipAddress":"10.5.0.4","smbServerFQDN":""}],"throughputMibps":6.4,"dataProtection":{"backup":{"backupEnabled":true,"policyEnforced":true,"backupPolicyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_geuewla5ljlqjmcqyh7gi4iveu7376rhqygpdabuxhk2gj7/providers/Microsoft.NetApp/netAppAccounts/cli-acc-justqiwxghqojoj2/backupPolicies/cli-ba-pol-rkqgv","vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/vaults/cbsvault"}},"provisioningState":"Succeeded","fileSystemId":"225aad0c-346e-b9ea-78f4-ef3ec3112e63","serviceLevel":"Premium","creationToken":"cli-vol-azx6oe6htksoqhhq","usageThreshold":107374182400,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_141fa84c3d2211eab68c025cb39d3009_7e6ae639","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_geuewla5ljlqjmcqyh7gi4iveu7376rhqygpdabuxhk2gj7/providers/Microsoft.Network/virtualNetworks/cli-vnet-backupl4zr2rkhu/subnets/default","snapshotDirectoryVisible":true,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"encryptionKeySource":"Microsoft.NetApp"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-02-26T13%3A28%3A07.9020909Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"serviceLevel": "Premium", "usageThreshold": 107374182400,
      "dataProtection": {"backup": {"policyEnforced": false, "vaultId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/vaults/cbsvault",
      "backupEnabled": false}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_geuewla5ljlqjmcqyh7gi4iveu7376rhqygpdabuxhk2gj7/providers/Microsoft.NetApp/netAppAccounts/cli-acc-justqiwxghqojoj2/capacityPools/cli-pool-6ewqyazpov3tfja/volumes/cli-vol-azx6oe6htksoqhhq?api-version=2020-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/cff10f08-6a49-4e85-80b4-ee269c98aa2d?api-version=2020-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/cff10f08-6a49-4e85-80b4-ee269c98aa2d","name":"cff10f08-6a49-4e85-80b4-ee269c98aa2d","status":"Succeeded","startTime":"2021-02-26T13:29:20.7413778Z","endTime":"2021-02-26T13:29:48.3628802Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_backup_geuewla5ljlqjmcqyh7gi4iveu7376rhqygpdabuxhk2gj7/providers/Microsoft.NetApp/netAppAccounts/cli-acc-justqiwxghqojoj2/capacityPools/cli-pool-6ewqyazpov3tfja/volumes/cli-vol-azx6oe6htksoqhhq"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
