interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_backup_b7tx7j66yii54yxculdtcibgemyy3yvghs6tqeo/providers/Microsoft.NetApp/netAppAccounts/cli-acc-gkzeiviv7zdbmfm4/accountBackups/cli-backup-voevmw37xngs4?api-version=2020-11-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralus/operationResults/cadbe2ad-100e-4b13-a6ed-ef55201f1241?api-version=2020-11-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralus/operationResults/cadbe2ad-100e-4b13-a6ed-ef55201f1241?api-version=2020-11-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralus/operationResults/cadbe2ad-100e-4b13-a6ed-ef55201f1241?api-version=2020-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralus/operationResults/cadbe2ad-100e-4b13-a6ed-ef55201f1241","name":"cadbe2ad-100e-4b13-a6ed-ef55201f1241","status":"Failed","startTime":"2021-02-23T13:07:38.7195783Z","endTime":"2021-02-23T13:07:38.8756394Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_backup_b7tx7j66yii54yxculdtcibgemyy3yvghs6tqeo/providers/Microsoft.NetApp/netAppAccounts/cli-acc-gkzeiviv7zdbmfm4/accountBackups/cli-backup-voevmw37xngs4"},"error":{"code":"NotFound","message":"The
        requested Backup was not found.","details":[{"code":"ResourceNotFound","message":"The
        requested Backup was not found."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
